header {
    background-color: #219d3f;
    color: white;
    text-align: center;
    padding: 40px 0;
}

header h1 {
    font-size: 2.5rem; 
}

header p {
    font-size: 1.2rem; 
    margin-top: 10px; 
}
body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 0; 
    background-color: #D6DDE4;
}
main {
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px;
    background-color: white; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

h2 {
    color: #007bff; 
    text-align: center;
    margin-top: 40px; 
}
h3 {
    color: #007bff; 
    text-align: center;
    margin-top: 40px;
}
h4{
    text-align: center;
    color: white;
    background-color: #219d3f;
    background-size:contain;
}
p {
    text-align: center; 
    margin-bottom: 20px; 
}
.image-container {
    text-align: center; 
    margin: 20px 0; 
}

.image-container img {
    max-width: 100%;
    height: auto; 
    border: 5px solid #ddd; 
    border-radius: 5px; 
}
.button-container {
    text-align: center; 
}
a {
    color:rgb(228, 162, 76); 
    text-decoration: none; 
}
a:hover {
    color: red;
}
